body{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cxz{
    margin-top: 50px;
}

.papier{
    background-color: white;
    width: 880px;
    height: 1008px;
}

.paragraphs{
    display: inline-block;
    position: relative;
    top: 100px;
    left: 100px;
    width: 700px;
    max-width: 700px;
    background-color: #432;
    /* border: 2px solid ; */
}

.run{
    display: inline-block;
    background-color: green;
    min-width: 10px;
    margin-left: 0;
    outline: none;
    border: none;
}