:root{
    --text-color: rgba(255, 255, 255, 0.904);
    --primary-colour: rgb( 30, 30, 180);
    --primary-colourr: rgb( 30, 180, 30);
    --blue-colour: rgb(39, 39, 236);
    --border-colour:rgba(250, 250, 250, .9);
}

body{font-family: Alef;}
main{
    width: 100%;
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paragraphContainer{
    width: 582px;
    height: 300px;
    margin-left: 5px;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
}
pre{
    outline: none;
}
pre:hover{
    background-color: rgb(207, 202, 202);
}
.countFileContainer{
    display:flex;
    flex-direction:row;
    margin-top:20px;
}

.buttonsContainer{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    margin-top:10px;
}

.countFileContainerElementsLabel{
    margin-right:10px;
    margin-top:9px;
    font-size:20px;
    text-align:center;
    font-family:Alef;
}

.countFileContainerElementsInput{
    width:100px;
    height:40px;
    border:1px solid rgba(10, 10, 10, 0.3);
    outline:none;
    text-align:center;
    font-size:29px;
    margin-left:6px;
}

.menuBar{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 49px;
    padding: 10px;
    top: 0;
    background-color: rgba(250, 250, 250, .9);
    z-index: 99;
    border-bottom:1px solid var(--primary-colour);
}

.work_nav{
    width:100%;
    height:38px;
    background-color: rgba(250, 250, 250, .9);
    position: absolute;
    top: 11.9%;
    z-index: 100;
    display: flex;
    flex-direction: row;
}



.dragAndDrop{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height:99.7%;
    text-align:center;
    font-size:1.3rem;
    color:rgba(2, 2, 2, .6);
    cursor:default;
}

.dragAndDrop > p{
    margin-top: 35%;margin-left: 8%;
}

/* .errorDialog{
    min-width: 250px;
    min-height: 130px;
    background-color: rgb(230, 20, 20);
    color: rgb(255, 200, 200);
    position: absolute;
    top: 40px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 99;
} */

/* .errorDialog .b{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.errorDialog .b button{
    width: 126px;
    min-height: 30px;
    background-color: transparent;
    color: rgb(255, 170, 170);
    outline: none;
    border: none;
}

.errorDialog .b button:hover{
    background-color: rgb(255, 140, 140);
    color:rgb(230, 20, 20);
    cursor: pointer;
} */

.dialogStart{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid #333;
    padding: 10px;
    position: absolute;
    top: 20vh;
    left: 20vw;
}

.dialogHeader{
    width: 500px;
    height: 27px;
    display: flex;
    flex-direction: row;
}

.closeDlg{
    width: 20px;
    height: 20px;
    margin-left: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 4px;
}

.closeDlg:hover{
    background-color: rgba(10, 10, 10, 0.3);
}

.dialogSelectHeader{
    width: 500px;
    height: 35px;
    display: flex;
    flex-direction: row;
}

[activee]{
    color: var(--primary-colour);
    font-weight: 600;
}

.dialogSelectHeaderItem{
    font-size: 16px;
    text-align: center;
    line-height: 35px;
    margin-left: 10px;
    padding: 0 4px;
    border-bottom: 2px solid transparent;
}

.dialogSelectHeaderItem:hover{
    cursor: pointer;
    color: var(--primary-colour);
    border-bottom: 2px solid var(--primary-colour);
}

.dialogBody{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, .nextButton{
    border:none;
    outline:none;
}

.bv{
    width: 160px;
    height: 50px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bv > span{
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 70;
    background-color: #fff;
    font-size: 0.9em;
}

.filePath{
    width:150px;
    height:40px;
    margin-top: 0px;
    border-radius: 4px;
    border:2px solid rgba(10, 10, 10, 0.3);
    font-size: 1em;
}

.bc{
    width: 140px;
    height: 50px;
    position: relative;
    margin-top: 10px;
}

.bc > span{
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 70;
    background-color: #fff;
    font-size: 0.9em;
}

.countC{
    width:100%;
    height:40px;
    margin-top: 0px;
    border-radius: 4px;
    border:2px solid rgba(10, 10, 10, 0.3);
    font-size: 1em;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.countC > pre{
    font-size: 1.5em;
    font-family: Alef;
}

.countC > p{
    cursor: default;
    font-size: 1.5em;
    font-family: Alef;
}

.nextButton{
    width:90px;
    height:35px;
    background-color: var(--primary-colour);
    margin-top: 30px;
    color: #fff;
    border-radius: 4px;
    font-size: 1.1em;
}

.Font, .FontSizeButtons{
    width: 100px;
    height: 29px;
    text-align: center;
    line-height: 30px;
    margin-top: 4px;
    margin-left: 4px;
}
/*
.FontSizeButtons{
    width: 103px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(250, 250, 250, .9);
}

 .fontSizeField{
    width: 46px;
    height: 23px;
    outline: none;
    border: none;
    margin-top:2px;
    text-align: center;
    background-color: transparent;
    border-left: 1px solid rgba(250, 250, 250, .9);
    border-right: 1px solid rgba(250, 250, 250, .9);
    font-size: 1.1em;
}

.FontSizeButtons button{
    width:25px;
    height:25px;
    background-color: transparent;
    margin-top: 2px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    border:none;
}

.FontSizeButtons button:hover{
    background-color: rgba(230, 230, 230, .8);
} */

/* font-size-buttons{
    width: 103px;
    height: 29px;
    text-align: center;
    line-height: 30px;
    margin-top: 4px;
    margin-left: 4px;
    display: flex;
    flex-direction: row;
} */

.boldBTN{
    width: 29px;
    height: 29px;
    margin-top: 4px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;
}

.boldBTN:hover{
    /* background-color: rgba(230, 230, 230, .8); */
    background-color: transparent;
    border-bottom: 2px solid var(--primary-colour);
}