:root{
    --rgb-white: rgba(207, 202, 202);
    --primary-colour: rgb(30, 30, 180);
    --primary-colour-light: rgb(49, 49, 247);
    --blue-colour: rgb(39, 39, 236);
    --border-colour:rgba(250, 250, 250, .9);
    --border-colour-black: rgba(10, 10, 10, 0.3);
    --white: #fff;
    --onePx-solid--black-border: 1px solid var(--border-colour-black);
    --twoPX-solid-black-border: 2px solid var(--border-colour-black);
    --twoPX-solid-border: 2px solid;
}
*{ font-family: Alef;}
body{margin:0; padding:0;}
main, .countFileContainer, .buttonsContainer, .menuBar, .work_nav, .dialogStart, .closeDlg, .dialogSelectHeader, .dialogBody, .countC, .boldBTN, .EditorContainer,
.Editor, .EditorParagraph ,.ApplyChangeText{display: flex;}

main, .dialogStart, .dialogBody, .boldBTN, .EditorContainer, .ApplyChangeText, .Editor{flex-direction: column;}

main{
    width: 100%;
    height: 100vh;
}
.paragraphContainer{
    width: 582px;
    height: 300px;
    margin: 0 5px;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
}
pre{outline: none;}
pre:hover{ background-color: var(--rgb-white);}
.countFileContainer{
    margin: 20px 0;
}
.buttonsContainer{
    width:100%;
    justify-content:flex-end;
    margin:10px 0;
}
.countFileContainerElementsLabel{
    margin: 9px 10px;
    font-size:20px;
    text-align:center;
}
.countFileContainerElementsInput{
    width:100px;
    height:40px;
    border:var(--onePx-solid--black-border);
    outline:none;
    text-align:center;
    font-size:29px;
    margin-left:6px;
}
.menuBar{
    height: 49px;
    padding: 10px;
    background-color: var(--border-colour);
    border-bottom:var(--onePx-solid-border, 1 solid) var(--primary-colour);
}
.work_nav{
    width:100%;
    height:38px;
    background-color: var(--border-colour);
}
.dialogStart{
    background-color: var(--white);
    border-radius: 4px;
    border: var(--onePx-solid--black-border);
    padding: 10px;
    position: absolute;
    top: 20vh;
    left: 20vw;
    height: 67vh;
}
.dialogHeader{
    width: 48vw;
    height: 27px;
}
.closeDlg{
    width: 20px;
    height: 20px;
    margin-left: 96%;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 4px;
}
.closeDlg:hover{ background-color: var(--border-colour-black);}
.dialogSelectHeader{
    width: 500px;
    height: 35px;
}
[activee]{color: var(--primary-colour);font-weight: 600;}
.dialogSelectHeaderItem{
    font-size: 16px;
    text-align: center;
    line-height: 35px;
    margin-left: 10px;
    padding: 0 4px;
    border-bottom: 2px solid transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}
.dialogSelectHeaderItem:hover{
    cursor: pointer;
    color: var(--primary-colour);
    border-bottom: var(--twoPX-solid-border) var(--primary-colour);
}
.dialogBody{
    width: 100%;
    align-items: center;
}
.dialogEdytorBody{
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}
input, .nextButton{border:none; outline:none;}
.bv{
    width: 160px;
    height: 50px;
    position: relative;
    margin: 4vh 0;
}
.bv > span, .bc > span{
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 70;
    background-color: var(--white);
    font-size: 0.9em;
}
.filePath{
    width:150px;
    height:40px;
    border-radius: 4px;
    border:var(--twoPX-solid-black-border);
    font-size: 1em;
}
.bc{
    width: 140px;
    height: 50px;
    position: relative;
    margin-top: 10px;
}
.countC{
    width:100%;
    height:40px;
    border-radius: 4px;
    border: var(--twoPX-solid-black-border);
    font-size: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.countC > pre{font-size: 1.5em;}
.countC > p{
    cursor: default;
    font-size: 1.5em;
}
.nextButton{
    width:90px;
    height:35px;
    background-color: var(--primary-colour);
    margin-top: 30px;
    color: var(--white);
    border-radius: 4px;
    font-size: 1.1em;
}
.Font, .boldBTN{ margin: 4px 4px;}
.Font{
    width: 100px;
    height: 29px;
    text-align: center;
    line-height: 30px;
}
.boldBTN{
    width: 29px;
    height: 29px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
}
.boldBTN:hover{background-color: transparent;border-bottom: var(--twoPX-solid-border) var(--primary-colour);}

.boldBTN, .EditorContainer, .ApplyChangeText{justify-content: center;align-items: center;}

.EditorContainer{
    width: 100%;
    height: 100%;
    margin: 4px 0;
    position: relative;
    overflow-y: scroll;
}
.Editor{
    position: absolute;
    width: 11in;
    min-height: 90%;
}
.EditorParagraph{min-height: 30px;}
.dBodyLeft, .dBodyRight{width: 24vw;height: 63vh;}
.PreviewTextContainer{
    width: 22vw;
    height: 40vh;
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 20px;
}
.PreviewTextContainer::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: transparent;
}
.PreviewTextContainer::-webkit-scrollbar-thumb{
    background-color: var(--primary-colour);
}
.PreviewTextContainer::-webkit-scrollbar-thumb:hover{
    background-color: var(--primary-colour-light);
}
.ApplyChangeText{
    width: 20vw;
    border: var(--onePx-solid-border, 1 solid) rgb(72, 89, 21);
}
.ApplyChangeText{
    height: 5vh;
    padding: 6px;
    border: var(--onePx-solid--black-border);
    margin-left: 10px;
    font-size: 1.5rem;
}
.OtherFilesContainer{
    width: 290px;
    height: 70%;
    margin: 10% 10%;
    overflow-y: scroll;
}
.OtherFilesItem{
    width: 100%;
    height: 47px;
    margin-top: 10px;
    font-family: sans-serif;
    text-align: center;
    line-height: 50px;
}
.OtherFilesItem:hover{
    cursor: pointer;
    background-color: var(--primary-colour);
    color: var(--white);
}
[do-select]{ background-color: var(--primary-colour); color: var(--white);}
.continueButton{
    margin: 20px 65%;
    color:var(--primary-colour);
    background-color: transparent;
    font-weight: bold;
    outline-width: thin;
    outline-color: var(--white);
    border: none;
    font-size: 1.1rem;
}